#canvas {
  background-image: url(../img/win1.jpg);
  background-size: cover;
  background-position: left;
  position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  border: 2px solid #69779b;
  cursor: pointer;
  width : 100%;
  height: 100%;
}

#main{
  vertical-align: middle;
}


* {
  margin: 0;
  padding: 0;
}

#startButton{
  font-size: larger;
}

#rules{
  display : inline-block;
  width : 15%;
}

#levels{
  display : inline-block;
  margin-left : 20%;
  width : 40%;

}

